*.nii.gz
data/train
data/valid
data/metadata
data/multi_abnormality_labels
data/radiology_text_reports
BiomedVLP-CXR-BERT-specialized
mae_pretrain_vit_base
rep_vision_encoder_decoder_t5/trained_vision_t5_lavis/
blip2_finetuned_6layers/
__pycache__/
*.cpython-310.pyc
*.pyc

*.pyo
*.pyd
# Add these kinds of files here
lavis/datasets/datasets/__pycache__/
lavis/datasets/datasets/__pycache__/*.pyc

*.pth
log.txt
*.log
**/wandb/


report_generations/
outputs/
checkpoints/
blip2_official_full/
blip2_official_full_512_length/
rep_blip2_official/lr_1e-5/
rep_blip2_official/lr_5e-4/
rep_blip2_official/lr_1e-5_standart/
rep_vision_organ_attention/gpt2_base_attention/
rep_vision_organ_attention/gpt2_base_attention_12_organ/
rep_vision_organ_attention/gpt2_base_attention_12_organ_10_epoch/
rep_vision_organ_attention/gpt2_base_attention_maxpool/
